<?xml version="1.0" ?>
<model>
    <name>Black knight</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Marco Michelini</name>
        <email>marco.michelini@protonmail.com</email>
    </author>
    <description>A model of a black chess piece.</description>
</model>
