<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true"/>
  <arg name="debug"  default="false"/>
  <arg name="gui"    default="true"/>
  <arg name="rate"   default="500" />
  
  <include file="$(find ur3_gazebo)/launch/ur_gripper_hande_chess_game.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="debug"  value="$(arg debug)"/>
    <arg name="gui"    value="$(arg gui)"/>
    <arg name="rate"   value="$(arg rate)" />
  </include>
  
  <node name="ur3e_script_chess_game_controller" pkg="smart_robot_chess_companion" type="ur3e_script_chess_game_controller.py" respawn="false" />
</launch>
